  
  @font-face {
    font-family: Cera;
	src: url('CeraPro-Regular.ttf');
  }


* {
	box-sizing: border-box;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	font-family: Cera, Arial, Helvetica, sans-serif;
  }

  html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
  }

  h1 {
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
  }

  h2 {
	color: rgb(230, 230, 230);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 80%;
	left: 56%;
  }

  #img1 {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 65%;
	left: 50%; 
	width: 25%;
	height: auto;
  }

  .arrow {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 54%;
	left: 92%; 
	width: 8%;
	height: auto;
  }

  .screen {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%; 
	visibility: hidden;
  }

  .half-screen {
	  height: 50%;
	  width: 100%;
	  position: relative;
	  display: flex;
  }

  .header {
	color: white;
	position: absolute;
	top: 2%;
	left: 5%;
  }

  .block5 {
	  position: relative;
		height: 50%;
		width: 18%;
		bottom: 0;
		background-color: white;
		margin: auto auto 8%;
		display: flex;
		box-shadow: white 0 0 5px 0;
  }

  .block5-images {
	  margin: auto;
	  width: 95%;
	  height: auto;
  }
  #background{
	background-color: rgb(225,66, 98);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
  }

  